$background_color:#f2f2f2;
$main_text:#43525a;

$accent_color:#28a5be;
$accent_dark:#1f8094;
$button_1_bg:#2d2d2d;

$background_configure:#0d6f90;
$background_enviro:#beeadf;

$clear_separator:#dddddd;
$clear_text:#94949d;

@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    background-color: $background_color;
    font-family: 'Muli', sans-serif;
}

h2 {
    color: $main_text;
    font-weight: 600;
    font-size: 2em;
}

h5 {
    color: $main_text;
    font-weight: 100;
    font-size: 0.9em;
}

#grand_container {
    position: relative;
    z-index: 1;
    width: 1380px;
    margin: 30px auto 0 auto;  
}

.menu_ul {
    display:inline-block;
}

.menu_ul li {
    display:inline-block;
    list-style-type:none;
    margin-right: 8px;
}

.separator {
    vertical-align: middle;
    background-color: $main_text;
    height: 20px;
    margin-left: 8px;
    width: 1px;
    display: inline-block;
}

.fourth_container {
    display: inline-block;
    text-align: center;
    width: 28%;
    margin-left: 5%;   
}

.fimg{
    max-height: 150px;
}

.fourth_container h3 {
    color:$main_text;
    margin-top: 26px;
    letter-spacing: 1px;    
}

.fourth_container h5 {   
    color:$main_text; 
    letter-spacing: 1px;    
    font-weight: 300;
}

.percents {
    display: inline-block;
    text-align: center;
    width: 18%;
    margin-left: 1%;   
}

.percents h2{
    font-size: 1.2em;
}

#configure_yours {
    display:inline-block;
    margin:auto;
    margin-left: 8px;
    margin-right: 8px;
}


#configure_yours h3 {    
    font-size: 0.98em;
}

#first_menu {
    display:inline-block;
}

#text_underline {
    display: block;
    margin-top: -10px;
    height: 2px;
    width: 100%;
    background-color: $accent_color;
}

#extra_info {    
    display: none;
}

#modulos {
    vertical-align: middle;
    display: inline-block;
    margin: 0 4% 0 16%;            
}

#three_dots {
    vertical-align: middle;
    display: inline-block;   
    margin-left: 12px;
}

#shopping {
    vertical-align: middle;
    display: inline-block;    
    margin-left: 16px;
}

#second_div {
    position: absolute;
    top: 130px;    
    height: 700px;
    width: 99%;
    background-image: url("../img/modulos-web-hero-bg-flip.0efcc100.jpg");
    background-position: 55% 45%;
    background-repeat: no-repeat;
    background-size: 135% 135%;
    overflow: hidden;
}

#table {
    position: absolute;    
    left: 40%;
    top: 110px;
}

#text_container {    
    position: relative;  
    margin-top: 180px;
    margin-left: 2%;   
    margin-right: 60%;  
    width: 400px;  
}

#text_container h1{
    font-family: 'Muli', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2.5em;
    width: 290px;
    color: $main_text;
}

#text_container h4{
    font-family: 'Muli', sans-serif; 
    letter-spacing: 1px;   
    font-weight: 100;
    font-size: 1.1em;    
    color: $main_text;
    margin-top: 15px;
    margin-bottom: 35px;
}

#config_button {   
    box-shadow: 0px 3px 5px #666; 
    z-index: 3;
    position: relative;
    display: inline-block;
    padding: 4px 20px 4px 20px;
    background-color: $accent_color;
}

#learn_button {    
    z-index: 2;
    position: relative;
    left: -5px;
    display: inline-block;
    padding-left: 32px;
    padding-right: 32px;
    background-color: $button_1_bg;
}

#config_button p{
    color:$background_color;
    font-size: 1.15em;
}

#learn_button p{
    color:$background_color;
}

#third_div {
    margin-top: 150px;
    background-color: #fff;
}

#third_div_text {    
    vertical-align: middle;
    display: inline-block;    
    margin-left:5%;
    width:48%;    
    margin-top: 12px;
    margin-bottom: 12px;
}

#third_div_img {  
    vertical-align: middle;  
    display: inline-block;
    width: 40%;
    height: 100%;
}

#shop_modules {       
    width: 180px; 
    margin-right: 6px;     
    padding: 1px 0px 1px 12px;
    background-color: $button_1_bg;
}

#shop_modules p{
    color:$background_color;
    font-size: 0.9em;
}

#fourth_div {
    margin-top:50px;
    text-align: center;
    margin-bottom:50px;
}

#text_fourth_cont {    
    width:60%;
    margin: 30px auto 50px auto;  
}

#quinta_div {
    background-color: #fff;
    height: 1000px;
}

#fifth_div_img {
    width:100%;
    height:600px;
    background-image: url('../img/modulos-4x2conf.cbb371ed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;      
}

#white_half {
    z-index: 3;
    background-color: #fff;       
    height: 400px;
    width: 70%;
    text-align: center;
    padding-top: 30px;
    margin: -75px auto 0 auto;
}

#wh_h2{    
    margin-bottom: 30px;   
}

#wh_h5{
    font-size: 0.9em;
    width: 80%;
    margin:auto;
}

#percent_container{
    margin-top: 50px;
    margin-bottom: 50px;
}

#material_id {
    width: 100%;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
}

#aeon_img {
    vertical-align: middle;
    display: inline-block;
    width:15%;
    height:400px;
    box-shadow: 0px -5px 5px #666;
    background-image: url('../img/module-cabling-hole--aeon.ee835ce4.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;      
}

#heritage_img {
    vertical-align: middle;
    display: inline-block;
    width:15%;
    height:400px;
    box-shadow: 0px 5px 5px #666;
    background-image: url('../img/module-cabling-hole--heritage.64bc524e.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;      
}

#material_text{
    width:59%;    
    vertical-align: middle;
    display: inline-block;
    margin: auto 5% auto 5%;
    text-align: center;
}

#material_text h5{
    letter-spacing: 1px;
    font-size: 0.9em;
}

#material_button{
    width: 250px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: $accent_color;
    color: $accent_color;
}

#eight_div{
    margin-top: 100px;
    background-color: $background_configure;
    height: 500px;
    color: #fff;
}

#eight_container{
    vertical-align: middle;
    display: inline-block;
    width:45%;
    margin-left:5%;
}

#eight_img{
    vertical-align: middle;
    display: inline-block;
    width:45%;
    margin-left:4%;
    height: 500px;
    background-image: url('../img/configurator-promo.b94388e3.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

#eight_container h2{
    color: #fff;
    font-size: 2.1em;
    margin-bottom: 40px;
}

#eight_container h5{
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#eight_button {       
    width: 160px;   
    padding: 1px;       
    padding-left: 12px;    
    background-color: $button_1_bg;
}